<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/cart.css">
    <link rel="stylesheet" href="css/item.css">
    <link rel="stylesheet" href="css/additem.css">
</head>

<body>
    <div id="templates">
        <div id="add-item-component" class="template">
            <div class="add-item-component-input-container">
                <input  class="add-item-component-input"
                        name="title"
                        type="text"
                        placeholder="Title"
                        v-model="selfTitle"> <br>
                <input class="add-item-component-input"
                        type="text"
                        name="description"
                        placeholder="Description"
                        v-model="selfDescription"> <br>
                <input class="add-item-component-input"
                        type="number"
                        name="price"
                        placeholder="Price"
                        v-model="selfPrice"> <br>
                <button class="add-item-component-form-submit" @click="onSubmitClicked">Submit</button>
            </div>
        </div>
        <div id='item-component' class="template">
            <div class="item-component-container">
                <h3 class="item-title">{{ title }}</h3>
                <h3 class="item-price">{{ setFormatPrice() }}kr</h3>
                <p class="item-description">{{ description }}</p>
                <span class="item-crud-container">
                    <button id="item-crud-button-edit" class="item-crud-button" @click="onEditClick">Edit</button>
                    <button id="item-crud-button-remove" class="item-crud-button" @click="onRemoveClick">Remove</button>
                </span>
                <add-item :title="title"
                          :price="price"
                          :description="description"
                          @submit="onEditSubmit"
                          class="template" />
            </div>
        </div>
        <div id="cart-component" class="template">
            <ul class="cart-component-ul">
                <li class="cart-component-li" v-for="{ title, description, price } in items">
                    <item :title="title"
                          :description="description"
                          :price="price"
                          @edit="onItemEdit"
                          @remove="onItemRemove"
                          class="cart-component-item" />
                </li>
            </ul>
        </div>
    </div>

    <div id="vueContent">
        <cart :items="items"
            @item-edit="onItemEdit"
            @item-remove="onItemRemove"></cart>
        <add-item :title="item.title"
            :description="item.description"
            :price="item.price"
            @submit="onItemAdd" 
        ></add-item>
    </div>

</body>

<script>
    class Item {
        /**@param {string} title
         * @param {string} description
         * @param {string} price*/
        constructor(title, description, price) {
            this.title = title;
            this.description = description;
            this.price = price;
        }
    }

    /**@param {Item} item
     * @param {Item[]} items*/
    function findItemInArray(item, items) {
        return items.find(i => {
            let props = Object.keys(item);
            return props
                .map(prop => i[prop] == item[prop])
                .filter(v => v).length === props.length
        });
    }

    Vue.component('add-item', {
        template: document.getElementById('add-item-component'),
        props: ['title', 'description', 'price'],
        data: () => ({
            selfTitle: "title",
            selfDescription: "description",
            selfPrice: 0
        }),
        mounted() {
            this.selfTitle = this.title;
            this.selfDescription = this.description;
            this.selfPrice = this.price;
        },
        methods: {
            onSubmitClicked({ currentTarget }) {
                let inputs = [];
                for (const tag of currentTarget.parentElement.children)
                    if (tag.localName == "input")
                        inputs.push(tag);

                let item = inputs.reduce((result, current) => {
                    result[current.name] = current.value;
                    return result;
                }, {});

                this.$emit('submit', item);
            }
        }
    });
    Vue.component('item', {
        props: ['title', 'description', 'price'],
        template: document.getElementById('item-component'),
        methods: {
            setFormatPrice() {
                let result = "";
                if (!this.price) return "";
                let price = this.price.toString().split('').reverse().join(''); //Reverse price string
                for (let i = price.length - 1; i >= 0; i--) { //Make for-reverse
                    result += price[i]; //Insert number
                    if (i % 3 == 0 && i != 0) //If number is a 3rd
                        result += '.';   //Insert .
                }
                return result; //Return something like '1.000.000'
            },
            onEditClick() { this.$el.lastChild.classList.remove('template'); },
            onRemoveClick() { this.$emit('remove', this) },
            /**@param {Item} item*/
            onEditSubmit(item) {
                let current = Object.keys(item).reduce((result, current) => {
                    result[current] = this.$props[current];
                    return result;
                }, {})

                this.$emit('edit', current, item);
            },
        }
    });
    Vue.component('cart', {
        props: ['items'],
        template: document.getElementById('cart-component'),
        methods: {
            /**@param {Item} current
             * @param {Item} updated*/
            onItemEdit(current, updated) {
                this.$emit('item-edit', current, updated);
            },
            /**@param {Item} item*/
            onItemRemove(item) { this.$emit('item-remove', item) },
        }
    });

    const vue = new Vue({
        el: "#vueContent",
        data: {
            items: [
                new Item('Omega comforable chair', "You won't believe your ass, when you sit on it", 50),
                new Item('Real working desk', "So far, it hasn't broken down yet so uh", 100),
                new Item("Your bed", "Yes. We have your bed and we require you to pay for it back", 1000000)
            ],
            templateValues: new Item("<Insert Title Here>", "<Insert Description Here>", -1),
            item: { ...this.templateValues }
        },
        methods: {
            /**@param {Item} item*/
            onItemAdd(item) {
                const props = Object.keys(item);
                if (!props) return alert("Please insert values for the new item!");

                const invalidProps = props.map(prop => 
                    !item[prop] && 
                    this.templateValues[prop] !== item[prop] && 
                    prop
                ).filter(v => v);
                if (invalidProps.length != 0) 
                    return alert(`Arguments invalid! Please provide a valid: ${invalidProps.map(p => p).join(', ')}`);

                return this.items.push(item);
            },
            /**@param {Item} current
             * @param {Item} updated*/
            onItemEdit(current, updated) {
                let item = findItemInArray(current, this.items);
                let itemIndex = this.items.indexOf(item);
                this.items[itemIndex] = updated;
            },
            /**@param {Item} toRemove*/
            onItemRemove(toRemove) {
                const item = findItemInArray(toRemove, this.items);
                this.items = this.items.filter(i => i != item);
            }
        }
    })
</script>

</html>