@{
    ViewData["Title"] = "Login";
}

<div class="login-container">
    <form action="Login/Login" method="get">
        <input id="username" name="username" required type="text" placeholder="Username" />
        <input id="password" name="password" required type="password" placeholder="Password" />
        <div id="login-button-container">
            <button id="login-button-create" onclick="loginCreate">Create Login</button>
            <button id="login-button" type="submit">Login</button>
        </div>
    </form>
</div>

<script>
    function loginCreate() {

    }
</script>