@{
    ViewData["Title"] = "Login";
}

<div class="login-container">
    <input id="username" type="text" placeholder="Username" />
    <input id="password" type="text" placeholder="Password" />
    <div id="login-button-container">
        <button onclick="@CreateLogin()">Create</button>
        <button onclick="Login">Login</button>
        <button href="redirectLogin">Login</button>
    </div>
</div>

<script>
    function redirectLogin() {
        let username = document.getElementById('username');
        let password = document.getElementById('password');
        return `./Login?username=${username?.innerText}&password=${password?.innerText}`;
    }
</script>